*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 */

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* *******************
praimary style 
********************* */
.flex{
  display: flex;
}

/* praimary color */

.orange-col{
  color: #FEA301;
}
.skyblue-col{
  color: #01ACFD;
}
.green-col{
  color: #95B226;
}

.sec-col{
  color: #05D4DF;
}
.thr-col{
  color: #5D58EF;
}

/* praimary Button Style  */

.praimaryBTN{
  font-size: 1.25rem;
  color: #ffffff;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
}


header,
.curriculum,
.storiesSect,
.footerItmes {
  max-width: 1160px;
  margin: 0 auto;
  
}

/* nav style start  */

nav{
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

nav .logo{
  align-items: center;
  gap: 11px;
}

.logo img{
  width: 62px;
}

.logo h2{
  font-size: 2rem;
  font-weight: 700;
}

#mobiBTN{
  display: none;
}

.navItmes li{
  list-style: none;
}

.navItmes a{
  text-decoration: none;
  margin-right: 32px;
  font-size: 1.25rem;
  font-weight: 700;
}

.navBTN button{
  background-color: #FEA301;
}

@media screen and (max-width:576px) {
  .navh2,
  .navItmes,
  .navBTN{
    display: none;
  }
  nav{
    border-bottom: 1px solid #FEA301;
    margin: 0;
  }
  nav .logo{
    width: 100%;
    padding: 12px 16px;
  }
  .logo{
    justify-content: space-between;
  }
  #mobiBTN{
    display: block;
    font-size: 1.875rem;
  }

}

/* nav style end  */


.bannerSec{
  align-items: center;
  gap: 50px;
}

.bannerText h1{
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  margin-bottom: 24px;
}

.bannerText p{
  font-size: 1.25rem;
  color: #111111;
  margin-bottom: 24px;
}

.bannerText button{
  background-color: #111111;
  padding: 10px 47px;
}

.bannerImg img{
  width: 470px;
}


@media screen and (max-width:576px) {
  .bannerSec{
    flex-direction: column-reverse;
    padding: 20px 10px;
  }

  .bannerImg img{
    max-width: 337px;
  }

  .bannerText{
    max-width: 357px;
    text-align: center;
  }

  .bannerText h1{
    font-size: 2rem;
    line-height: normal;
  }
  .bannerText p{
    font-size: .875rem;
    font-weight: 400;
  }
}
/* header end  */

/* curriculum style start  */

.curriculum
{
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  padding: 60px 0;
}

.curriculum h2{
  font-size: 2.875rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 80px;
}
.curriCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 28px;
}

.curriCard{
  width: 367px;
  height: 477px;
  border-radius: 19px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
  padding: 40px 52px;
}

.curriCard img{
  width: 137px;
}

.curriCard h5{
  font-size: 1.5325rem;
  font-weight: 700;
  line-height: 30px;
}

.curriCard p{
  font-size: 0.9375rem;
  line-height: 28px;
}

/* linearGradient style */
.kinderCard{
  background: linear-gradient(180deg, rgba(222,245,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 62%);
  border: 1px solid #DEF5FF;
}
.kinderCard a{
  font-size: 0.9375rem;
  text-decoration: none;
  color: #64C8FF;
}

.elementaryCard{
  background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,255,255,1) 40%);
  border: 1px solid #FFF4DC;
}
.elementaryCard a{
  font-size: 0.9375rem;
  text-decoration: none;
  color: #F0AA00;
}

.middleCard{
  background: linear-gradient(180deg, rgba(238,225,255,1) 0%, rgba(255,255,255,1) 40%);
  border: 1px solid #F2E8FF;
}
.middleCard a{
  font-size: 0.9375rem;
  text-decoration: none;
  color: #8700FF;
}

.aroIcone{
  text-align: center;
  font-size: 1.875rem;
  padding-top: 80px;
  
}
.aroIcone i{
  background-color: #F0AA00;
  color: #ffffff;
  padding: 17px 22px;
  border-radius: 50%;
  
}

@media screen and (max-width:576px) {
  .curriculum{
    margin: 0 auto;
  }
  
  .curriculum h2{
    font-size: 1.625rem;
  }

  .curriCards{
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap:0 0  36px 0;
  }

  .aroIcone{
    display: none;
  }
}

/* curriculum style end  */

/* Our Stories start   */
.storiesWith{
  background: linear-gradient(0deg, rgba(254,163,1,0.30015756302521013) 0%, rgba(255,255,255,0.3029586834733894) 100%);
}
.storiesSect{
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
}
.storiesSect h2{
  font-size: 2.875rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 80px;
}
.storieCards{
  justify-content: space-between;
}

.storieCard1{
  width: 540px;
  height: 630px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
}

.storieCard2{
  width: 290px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  background-color: #ffffff;
}

.storieImg{
  position: relative;

}

.storieImg img{
  width: 100%;
}

.storieImg p{
  font-size: 1rem;
  line-height: 29px;
  padding: 15px 20px;
  border-radius: 48px;
  color: #ffffff;
  position: absolute;
  left: 40px;
  bottom: -20px;
}
.greenCol1{
  background-color: #3CD8E8;
}
.greenCol2{
  background-color: #95B226;
}
.greenCol3{
  background-color: #5D58F0;
}
.greenCol4{
  background-color: #95B226;
}
.greenCol5{
  background-color: #95B226;
}
.maltipulCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.storieText{
  padding: 0 38px;
}
.storieText h5{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38px;
  margin: 57px 0;
  margin-bottom: 57px;
}

.storieCard2 h5{
  font-size: 1rem;
  margin: 30px 0;
  line-height: 25px;
}

.storieText p{
  font-size: 1rem;
  color: #666666;
  margin-bottom: 35px;
}
.storieBTN button{
  background-color: #111111;
  margin: 90px 0px 70px 0;

}
.storieBTN{
  justify-content: center;
}

marquee{
  font-size: 1.875rem;
  padding: 15px 0;
  margin: 0 auto;
}

@media screen and (max-width:576px) {
  .storieCard1{
    display: none;
  }

  .maltipulCard{
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap:11px;
  }
  .storieCard2{
    width: 173px;
    height: 180px;
  }
  .storieCard2 p{
    font-size: 0.5625rem;
    padding: 6px 12px;
  }

  .storieText h5{
    font-size: 0.5625rem;
    line-height: 17px;
  }

}

/* Our Stories end  */

/* footer start  */
  
footer{
  background-color: #01ACFD;
}
.footerItmes{
  padding: 123px 0 170px 0;
  color: #ffffff;
  justify-content: space-between;
}

.footerItme{
  width: 400px;
  justify-content: space-between;
}

.fotterImg{
  align-items: center;
}
.fotterText p{
  margin-top: 35px;
}

.footerItme h4{
  font-size: 1.625rem;
  padding-bottom: 34px;
}

.footerItme li{
  list-style: none;
  padding-bottom: 20px;
  
}
.fotterA{
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width:576px) {

.footerItmes{
  flex-direction: column;
  padding:60px 16px;
  
  }
.fotterText p{
  padding-top: 23px;
  padding-bottom: 32px;
  margin-top: 0;
}
}
/* footer end */